h1 {
  text-align: center;
  margin-top: 1em;
}

form {
  text-align: center;
  margin-top: 2em;
  div {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
  }
}
